* {
  margin: 0;
  padding: 0;
}

/* *****************************NAV BAR************************ */

.navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  min-width: 700px;
  align-items: center;
}

.center-nav {
  list-style: none;
  display: flex;
}

.navbar ul li {
  padding-left: 30px;
}

.navbar ul a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(29, 42, 53);
  text-decoration: none;
}

.center-nav li a {
  color: #a6a7a4;

  text-decoration: none;
}

.center-nav li a:hover {
  color: black;
}

.logo {
  padding-left: 40px;
}

.right-nav {
  display: flex;
  margin-right: 60px;
}

.kart-image {
  cursor: pointer;
  padding-top: 12px;
  height: 30px;
  padding-right: 40px;
}
.dropdown {
  /* background-color: rgb(185, 30, 30); */
  /* height: 100px; */
}

.profile {
  /* overflow: visible; */
  /* border-radius: 100px;
  border: 3px solid rgb(217, 138, 73); */
  height: 50px;
  /* background-color: rgb(27, 169, 88);  */
}

.profileborder {
  border-radius: 100px;
  border: 3px solid rgb(217, 138, 73);
}

.wrapper-for-kart-profile {
  display: flex;
  height: 50px;
}

hr {
  color: rgb(254, 255, 255);
  margin-top: 15px;
}

/* *************************************Main section****************** */

/* *****************************LEFT MAIN PORTION************************* */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 750px;
}
.left {
  /* background-color: rgb(149, 63, 63); */
  display: flex;
  padding-right: 200px;

  justify-content: center;
  flex-direction: column;
  height: 650px;
  align-items: center;
}

.main-product img {
  margin-top: 30px;

  height: 400px;
  border-radius: 15px;
}
.sub {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.sub-product {
  /* background-color: rgb(131, 15, 15); */
  cursor: pointer;
}
.sub-product img {
  margin: 10px;
  height: 85px;
  border-radius: 10px;
  border: 2px solid rgb(251, 246, 246);
}
.sub-product img:hover {
  border: 2px solid rgb(92, 92, 92);
  opacity: 50%;
}

/* ************************RIGHT MAIN PORTION********************* */

.right {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 650px;
  /* background-color: rgb(84, 128, 72); */
}
.right1 {
  height: 400px;
  width: 400px;
  /* background-color: rgb(90, 25, 25); */
}

.right h5 {
  color: #ff7d1b;
  font-size: medium;
  margin-bottom: 12px;
}
.right h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.para {
  color: #a6a7a4;
}
.amount-and-discount-row {
  display: flex;
  margin-top: 30px;
}

#disc-amnt {
  font-size: x-large;
}

#disc {
  color: #ff7d1b;
  font-size: medium;
  font-weight: bolder;
  background-color: #f0ceae;
  margin-left: 25px;
  padding: 2px;
  border-radius: 7px;
}

#wo-disc-amnt {
  margin-top: 8px;
  text-decoration: line-through;
  color: #a6a7a4;
}

.add-to-kart {
  /* margin-top: 40px; */
  padding: 6px 18px;
  border-style: none;
  /* margin: 0; */
}
.plus-minus {
  margin-top: 45px;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  /* background-color: rgb(84, 25, 25); */
  border-radius: 10px;
}

.plus-minus p {
  background-color: #f4f5f8;
  padding-left: 40 px;
  padding-right: 20px;
  padding: 10px;
  /* border-radius: 0px 0px 10px; */
}

.plus-minus p:first-child {
  cursor: pointer;
  /* background-color: rgb(134, 32, 32); */
  border-radius: 10px 0px 0px 10px;
  color: #a6a7a4;
}
.plus-minus p:nth-last-child(2) {
  color: #a6a7a4;
  cursor: pointer;
  /* background-color: rgb(111, 17, 17); */
  border-radius: 0px 10px 10px 0px;
}
.plus-minus p:nth-last-child(2):hover,
.plus-minus p:first-child:hover {
  color: black;
}
.add-to-kart {
  color: #f4f5f8;
  font-size: medium;
  margin-left: 80px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  background-color: #ff7d1b;
}
.add-to-kart:hover {
  box-shadow: 5px 2px 1px rgb(91, 90, 88);
  /* box-shadow: 5px solid black; */
  color: black;
  background-color: #fd984b;
  cursor: pointer;
}

/* ******************************DROPDOWN*************************** */

.dropdown p {
  padding-top: 20px;
  /* padding-left: 10px; */
}
.dropdown-content {
  display: none;
  margin-top: 30px;
  right: 80px;
  position: absolute;
  z-index: 7;
}

/* .dropdown-content a {
  display: block;
} */

/* .dropdown:hover .dropdown-conten {
  display: block;
} */
.mini-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 230px;
  width: 370px;
  border-radius: 10px;
  background-color: #ffffff;
}
.mini-card span {
  margin: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.line {
  margin-top: 20px;
  background-color: rgb(206, 201, 201);
  height: 1px;
}

.mini-img {
  margin-left: 20px;
  float: inline-start;
  margin-top: 10%;
  border-radius: 10px;
  height: 60px;
}

.shoe-type {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 95px;
  margin-top: 15px;
  color: #a6a7a4;
  font-size: large;
}
#final-price {
  margin-top: -10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 95px;
  color: #a6a7a4;
}
#final-price b {
  color: black;
}

.checkout {
  color: #f4f5f8;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 15px;
  padding-left: 110px;

  border-radius: 10px;
  background-color: #ff7d1b;
}
.checkout:hover {
  background-color: #fe8f3b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  cursor: pointer;
}

/* ******************************Light box****************** */

.light-box {
  display: none;
  position: absolute;
  right: 500px;
  top: 110px;
  border-radius: 20px;
  display: non;
}

/* **********************OVERLAY********************* */

.overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: block;
}
.hiddenn {
  display: none;
}
